RewriteEngine on

ErrorDocument 404 /404.php

RewriteRule ^404/?$ 404.php
RewriteRule ^documentation/?$ documentation.php
RewriteRule ^download/?$ download.php
RewriteRule ^cabinet/?$ cabinet.php
RewriteRule ^exit/?$ exit.php
RewriteRule ^login/?$ login.php
RewriteRule ^app/key=([a-z0-9]+)/?$ app.php?key=$1